<!DOCTYPE html>
<html>
  <head>
    <title>天梯</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>

    <script src="//g.alicdn.com/dingding/open-develop/0.8.4/dingtalk.js" type="text/javascript" charset="utf-8"></script>
    <%= javascript_include_tag params[:controller] + '/' + params[:action], 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.base64.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js.cookie-2.1.3.min', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] + '/' + params[:action], media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>

  <body>
  <script type="text/javascript" charset="utf-8">
    var agentId = <%= ENV['LADDER_AGENT_ID'] %>
  </script>
    <%= yield %>
  </body>
</html>
